.second{
	font-size: 200%; 
	font-family: concolas; 
	color: rgb(122,134,231); 
	text-align:center;
	font-style: italic;
}
.first{
	font-family: concolas; 
	font-style:italic; 
	font-size: 150% ; 
	color:blue; 
	text-align:center;
}
.birthday{
	font-style: italic; 
	font-family: cursive; 
	text-align: center; 
	font-size: 400% ; 
	color: red; 
	background-color: green;
}
.main{
	font-family: cursive; 
	text-align: center; 
	font-size:300% ;
}
.third{
	text-align:center;
	font-family: concolas;
	font-style: italic;
	font-size:250%;
}
#wish{
	font-size: 300%
	font-family:sans-serif;
	font-weight: bold;
}